nav, header,
section,
main, footer {
  display: block;
}
/* height 100% for full screen wrap background*/
html, body {
  height: 100%;
}
body {
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-family: 'Poiret One', cursive;
}
h1, h2, h3 {
  margin: 0;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*clearfix*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*2 responsive columns*/
.col-2 {
  width: 50%;
  float: left;
}
/*3 responsive columns*/
.col-3 {
  width: 33.33%;
  float: left;
}

@media screen and (max-width: 768px) {
  .col-2 {
    width: 100%;
    float: none;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 480px) {
  .col-3 {
    width: 100%;
    float: none;
  }
}
