* {
  box-sizing: border-box;
}
nav, header,
section,
main, footer {
  display: block;
}
img {
  display: block;
}
/* height 100% for full screen wrap background*/
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #333;
  transition: all 0.5s ease-in-out;
}
h1 {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
}
h1, h2, h3 {
  margin: 0;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#wrap {
  height: 100%;
  background: #f0f0f0 url(../images/background.jpg) no-repeat 12% center;
  background-size: cover;
}
#nav {
  position: fixed;
  top: -10px;
  right: -100px;
  width: 400px;
  height: 400px;
  background-color: #9bd8d0;
  border-radius: 50%;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  transform: scale(0);
  transform-origin: 68% 8%;
  transition: all 0.6s ease-in-out;
  z-index: 10;
}
#nav-links {
  margin: 100px 0 0 70px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
#nav li {
  margin-bottom: 10px;
}
#nav a {
  color: #fff;
}
#nav a:hover,
#nav a:focus {
  color: #659690;
}
#menu {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  position: fixed;
  right: 3%;
  top: 3%;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 5px 16px rgba(51, 51, 51, 0.5);
  z-index: 100;
  transition: all 0.4s;
  cursor: pointer;
}
#menu:hover,
#menu:focus {
  box-shadow: 0 2px 13px rgba(51, 51, 51, 0.5);
}
.menu-line {
  width: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  border-bottom: 2px solid #222;
  transition: 0.5s ease-in-out;
}
.menu-line:nth-child(1).rotate {
  -webkit-transform: translate3d(0, 9px, 0) rotate(45deg);
  transform: translate3d(0, 9px, 0) rotate(45deg);
}
.menu-line:nth-child(2).rotate {
  opacity: 0;
}
.menu-line:nth-child(3).rotate {
  -webkit-transform: translate3d(0, -9px, 0) rotate(-45deg);
  transform: translate3d(0, -9px, 0) rotate(-45deg);
}
#home {
  position: relative;
  height: 100%;
}
#home h1 {
  position: absolute;
  left: 20%;
  bottom: 40%;
  font-size: 2em;
  letter-spacing: 3px;
}
#home h1 span {
  position: absolute;
  top: 0;
  font-size: 2.5em;
  letter-spacing: 2px;
}
#find-more {
  display: block;
  width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 5px 16px rgba(51, 51, 51, 0.5);
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}
#find-more:hover,
#find-more:focus {
  box-shadow: 0 2px 13px rgba(51, 51, 51, 0.5);
}
.color-box {
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
}
#about-us .color-box,
#our-works .color-box {
  background-color: #9bd8d0;
  color: #659690;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
}
.line {
  margin: 5px auto;
  width: 100px;
  border-bottom: 2px solid #000;
}
#about-us .line,
#our-works .line {
  border-color: #659690;
}
.text-box {
  padding: 50px;
  font-size: 1.125em;
  background-color: #fff;
}
#services .color-box,
#contacts .color-box {
  background-color: #f4c356;
  color: #cb9d36;
}
#services .line,
#contacts .line {
  border-color: #cb9d36;
}
#services img,
#contacts img {
  width: 100%;
}
#our-works a {
  color: #659690;
  font-size: 1.125em;
}
#our-works a:hover,
#our-works a:focus {
  color: #fff;
}
#our-works .color-box.links {
  padding: 0 0 50px 0;
}
#contacts a {
  color: #cb9d36;
}
#contacts a:hover,
#contacts a:focus {
  color: #fff;
}
#contacts li:last-of-type {
  margin-top: 50px;
}

/* layout is mobile first, so breakpoints goes after 768px */
@media screen and (min-width: 768px) {
  /*clearfix*/
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  /* responsive grid, class names based on bootstrap grid */
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
  .col-1, .col-2, .col-3, .col-4,
  .col-5, .col-6, .col-7, .col-8,
  .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }
  #nav {
    transform-origin: 60% 15%;
  }
  #menu {
    width: 64px;
    height: 64px;
    padding-top: 21px;
    position: fixed;
    right: 5%;
    top: 4%;
  }
  .menu-line {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
  }
  .menu-line:nth-child(3).rotate {
    -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
  #home h1 {
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 45%;
    font-size: 4.5em;
  }
  #find-more {
    width: 270px;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 10px;
    font-size: 1.75em;
    font-weight: 300;
  }
  #about-us .color-box,
  #contacts .color-box {
    text-align: right;
    padding: 70px 65px 70px 0;
  }
  #services .color-box {
    text-align: left;
    padding: 70px 0 70px 65px;
  }
  #about-us .line,
  #our-works .line,
  #contacts .line {
    margin-right: 0;
  }
  #services .line {
    margin-left: 0;
  }
  .text-box {
    padding: 65px;
    font-size: 1.125em;
    /* to drop shadow to each element we need z-index which only works with position */
    position: relative;
    z-index: 1;
    box-shadow: 0 7px 16px rgba(51, 51, 51, 0.5);
  }
  .text-box p {
    margin: 0;
  }
  #services {
    margin-top: -110px;
    background: #f0f0f0 url(../images/laptops-bg.jpg) no-repeat center;
    background-size: cover;
  }
  #services img,
  #contacts img {
    display: none;
  }
  #services .color-box,
  #services .text-box {
    float: right;
  }
  #our-works {
    margin-top: -150px;
  }
  #our-works .color-box {
    padding: 200px 50px 100px 0;
    text-align: right;
  }
  #our-works .color-box.links {
    height: 190px;
    padding: 25px 0 0 25px;
    text-align: left;
  }
  #contacts {
    margin-top: -200px;
    background: #f0f0f0 url(../images/headphones-bg.jpg) no-repeat center;
    background-size: cover;
  }
  #contacts li {
    font-size: 0.75em;
  }
}
@media screen and (min-width: 1024px) {
  #home h1 {
    width: 550px;
    bottom: 50%;
    font-size: 5.5em;
  }
  h2 {
    font-size: 1.75em;
  }
  #nav {
    top: -50px;
    right: -150px;
    width: 800px;
    height: 800px;
    font-size: 2.5em;
    transform-origin: 72% 12%;
  }
  #nav-links {
    margin: 200px 0 0 140px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  #about-us .color-box,
  #contacts .color-box {
    padding: 75px 75px 75px 0;
  }
  #services .color-box {
    padding: 75px 0 75px 75px;
  }
  .text-box {
    padding: 75px;
    font-size: 1.25em;
  }
  #our-works .color-box {
    padding: 200px 75px 100px 0;
  }
  #our-works .color-box.links {
    height: 195px;
    padding: 30px 0 0 40px;
  }
  #contacts li {
    font-size: 1em;
  }
  #contacts li:last-of-type {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 2em;
  }
  #nav {
    font-size: 3em;
    transform-origin: 70% 11%;
  }
  #about-us .color-box,
  #contacts .color-box {
    padding: 120px 120px 120px 0;
  }
  #services .color-box {
    padding: 120px 0 120px 120px;
  }
  .line {
    width: 130px;
  }
  .text-box {
    padding: 120px;
    line-height: 1.4;
  }
  #our-works .color-box {
    padding: 200px 120px 100px 0;
    text-align: right;
  }
  #our-works .color-box.links {
    height: 200px;
    padding: 30px 0 0 40px;
  }
}
@media screen and (min-width: 1440px) {
  #home h1 {
    width: 700px;
    bottom: 50%;
    font-size: 6.5em;
  }
  h2 {
    font-size: 2.5em;
  }
  #about-us .color-box,
  #contacts .color-box {
    padding: 150px 130px 150px 0;
  }
  #services .color-box {
    padding: 150px 0 130px 150px;
  }
  .line {
    width: 160px;
  }
  .text-box {
    padding: 150px;
    font-size: 1.5em;
    line-height: 1.5;
  }
  #services {
    margin-top: -125px;
  }
  #our-works {
    margin-top: -220px;
  }
  #our-works .color-box {
    padding: 350px 130px 150px 0;
    text-align: right;
  }
  #our-works .color-box.links {
    height: 339px;
    padding: 60px 0 0 60px;
    font-size: 1.5em;
  }
  #contacts {
    margin-top: -340px;
  }
  #contacts li {
    font-size: 1.25em;
  }
  #contacts li:last-of-type {
    margin-top: 150px;
    font-size: 1em;
  }
}